<div class="row full-screen">
  <div class="col-6 col-padding left-color">
    <div class="container">
      <div class="row">
        <img src="assets/logo.jpg">
      </div>
      <div class="row slogan">
        <div class="mat-display-1">Soyez le leader, soyez le vainqueur</div>
      </div>
    </div>
  </div>
  <div class="col-6 col-padding right-color">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <p>Merci de vous enregistrer avant de continuer</p>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="E-mail" formControlName="email" required>
            <mat-error *ngIf="isFieldInvalid('email')">
              Merci d'écrire votre identifiant
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="Mot de passe" placeholder="Mot de passe" formControlName="password" required>
            <mat-error *ngIf="isFieldInvalid('password')">
              Merci d'écrire votre mot de passe
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">S'identifier</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
